.button{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: var(--blue);
    border:none;
   letter-spacing: 2px;
    transition: all 0.5s ease;
    margin-top: 15px;
}
.button:hover{
    background-color: var(--lightBlue);
    transition: all 0.5s ease;
    color: var(--black);
}
.loginRegisterButton,
.registerButton{
    position: absolute;
    top: 50px;
    right: 20px;
   background-color: var(--gold);
}
.loginRegisterButton:hover,
.registerButton:hover{
    background-color: var(--goldLight);
}