.input{
cursor: pointer;
height: 30px;
color: var(--gray);
border: none;
border-bottom: 1px solid var(--lightgray);
margin-top: 10px;
}
.invisible{
   display: none;
}
.textarea{
   cursor: pointer; 
}
.loginRegisterButton{
   
}