
:root{
    --mainBlack:#222;
    --lightBlack:#33393D;
    --yellow:#FFCD24;
    --blue:#2AABE4;
    --lightBlue:#9DC8E4;
    --lighterblue:#BCCBC9;
    --mostlighterblue:#C0DFD9;
    --gray:#666B6E;
    --lightgray:#AAB8B6;
    --lightergray:#E9ECE6;
    --gold:#8E793E;
    --goldLight:#AD974F;
    --lightRed:#E74C3C;


}
